body{
    margin: 0%;
    font-family: 'Trebuchet MS';
    background-color: lightblue;
}
#app-name{
    text-decoration: none;
    color: white;
}

#app-header{
    background-color: navy;
    padding: 20px;
    border-bottom: 2px solid black;
}

#app-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: navy;
    padding: 10px;
    border-top: 2px solid black;
}

#app-footer-content{
    color: white;
    font-weight: bold;
}

#app-name{
    font-size: xx-large;
    font-weight: bolder;
    margin: 0px 50px 0px 0px;
}


#weather-city{
    text-align: center;
    margin: 40px;
}

#city-input{
    vertical-align: middle;
    width: 70%;
    height: 40px;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 250px;
    font-size: large;
}

#city-button{
    vertical-align: middle;
    background-color: lightblue;
    border:lightblue;
}

#temp-div{
    position: relative;
    display: block;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
}

#city-temp{ 
    position: relative;
    font-size: 400%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;

}

#city-info{
    font-size: 200%;
    font-weight: bold;
    margin: 0px;
}

#city-temp, #weather-info, #more-weather-info, #weather-icon{
    display: inline-block;
    vertical-align: top;
}

#weather-info{
    position: absolute;
    margin-right: 30px; 
    top: 0;
    right: 0;
}

#more-weather-info{
    top:0;
    margin-top: 10px;
}

#weather-details h2{
    font-weight: bolder;
    margin: 0px;
}

#weather-details{
    font-size: large;
}

#weather-icon{
    position: absolute;
    width: 200px;
    height: 200px;
    top: -25px;
    right: 300px;
}

#hourly-forecast{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: larger;
}

#hourly-forecast-items{
    justify-content: space-between; /* Adjust as needed */
    align-items: stretch;
    display: flex;
    height: 150px;
    align-items: center; 
}

#hourly-forecast-heading{
    margin-bottom: 10px;
}

#hourly-forecast-heading h3{
    margin: 0px;
}

#hourly-item {
    flex: 1; /* Distribute equal space among items */
    box-sizing: border-box; /* Include padding and border in total width and height */
    text-align: center;
    height: 100%;
    
}

#hourly-item-time, #hourly-item-image, #hourly-item-temperature, #hourly-item-description{
    margin: 0px;
    border: 0px;;
    text-align: center;  
    font-weight: bold;
}

#hourly-item-description{
    vertical-align: bottom;
}

